<h1><%= @post.title %></h1>
<hr>
<h3>created at: <%= @post.created_at %> | points: <%= @post.points %> | created: <%= @old.round %> minates ago</h3>
<p><%= link_to "Edit", edit_post_path(@post) %></p>
<p><%= link_to "Delete", post_path(@post), :data => {:confirm => "You sure?", :method => "delete"} %></p>



<%= link_to "Return to Courses", posts_path %>
